<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  
<body>
<h1>Comment of {{movie_name}}</h1>

 
  <div>
    {% for n in review %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


<form method="POST" action="/add_comment">
<p>Input your username: <input type="text" name="username"> <input type="submit" value="Get"></p>
<p>Rate this movie: <input type="number" name="rate"> <input type="submit" value="Get"></p>
<p>Comment this movie: <input type="text" name="comment"> <input type="submit" value="Get"></p>
</form>
  
<p><a href="/actor">Go to the actor page</a></p>
<p><a href="/director">Go to the director page</a></p>
<p><a href="/">Go to the main page</a></p>

</body>
</html>
