<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Top ten movie from IMDB</h1>
 

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="/director">Go to the director page</a></p>
<p><a href="/actor">Go to the actor page</a></p>

<form method="POST" action="/get_score">
<p>Get average score of a movie: <input type="text" name="name"> <input type="submit" value="Get"></p>
</form>
   <div>{{scores}}</div>
   <div>
    {% for n in scores %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
<form method="POST" action="/get_comment">
<p>Get user comment of a movie: <input type="text" name="name"> <input type="submit" value="Get"></p>
</form>
   <div>{{review}}</div>
   <div>
    {% for n in review %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
</body>
</html>
