<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Movies from IMDB</h1>
 

  <div>
    {% for n in movie_info %}
    <div>
    <p><a href="/movie/{{n[0]}}">{{n[1]}}</a></p>
    </div>
    {% endfor %}
  </div>

<p>type_cursor<{{type(cursor)}}</p>
<p>type_line<{{type(cursor_line)}}</p>
<p>type_data<{{type()}}</p>
<p>type_data<{{type()}}</p>


<form method="POST" action="/get_score">
<p>Get average score of a movie: <input type="text" name="name"> <input type="submit" value="Get"></p>
</form>
   <div>
    {% for n in scores %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
<form method="POST" action="/get_comment">
<p>Get user comment of a movie: <input type="text" name="name"> <input type="submit" value="Get"></p>

</form>
   <div>
    {% for n in review %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
  
 
<p><a href="/director">Go to the director page</a></p>
<p><a href="/actor">Go to the actor page</a></p>

  
</body>
</html>
